.my-search-input:hover {
  cursor: pointer;
  color: black;
}
.title {
  font-size: 22px;
}
.category-list:hover {
  cursor: pointer;
  margin-left: 1px;
}

/* YourComponent.css */

.category-toggle {
  text-decoration: none; /* Remove underline */
  color: #333; /* Set text color */
  text-transform: capitalize;
}

.category-toggle:hover {
  color: #555; /* Change text color on hover */
}
.categories {
  text-align: left;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  font-size: 14px;
}
.categories:hover {
  color: #555555; /* Change text color on hover */
  background-color: #eaeaea;
}
.category-toggle {
  text-align: right;
  color: rgb(228, 64, 39);
}

aside {
  border: 1px solid #ebebeb;
  border-radius: 10px;
}
